<?xml version="1.0"?>
<model>
  <name>NRMK Conveyor Belt</name>
  <version>1.0</version>
  <sdf version='1.6'>model.sdf</sdf>

  <author>
   <name>Thach Do</name>
   <email>thach.do@neuromeka.com</email>
  </author>

  <description>
    Neuromeka's Conveyor Belt
  </description>
</model>
