<launch>
	
	<!--<param name = "robot_description" command = "cat $(find indy12_v2_description)/urdf/indy12_v2.urdf"/>-->
	<param name = "robot_description" command = "$(find xacro)/xacro --inorder '$(find indy12_v2_description)/urdf/indy12_v2.xacro'" />
    

	<node name = "joint_state_publisher" pkg = "joint_state_publisher" type = "joint_state_publisher">
        <param name = "use_gui" value = "TRUE"/>
    </node>


	<!--<node name = "robot_state_publisher" pkg = "robot_state_publisher" type = "state_publisher"/>-->
	<node name = "robot_state_publisher" pkg = "robot_state_publisher" type = "state_publisher"/>
    

	<node name = "rviz" pkg = "rviz" type = "rviz" args = "-d $(find indy12_v2_description)/rviz_config/indy12_v2.rviz"/>
</launch>