<launch>

  <rosparam file="$(find indyrp2_control)/config/indyrp2_control.yaml" command="load"/>

  <node name="joint_controller_spawner" pkg="controller_manager" type="spawner" respawn="false" output="screen" args=
       "joint_state_controller
        indyrp2_controller"/>

  <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" respawn="false" output="screen"/>

</launch>
