<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro"
       name="conveyor_belt_simple" >

  <xacro:include filename="$(find conveyor_belt_simulation)/urdf/conveyor_belt_simple.template.xacro" />
  <xacro:property name="world" value="world" />

  <!-- world link -->
  <link name="world" />

  <xacro:create_conveyor_belt world="${world}" length="2.5" width="0.5" height="0.7">
    <origin xyz="0 0 0" rpy="0 0 0" />
  </xacro:create_conveyor_belt>

</robot>
