<?xml version="1.0" ?>
<robot name = "indy7" xmlns:xacro="http://ros.org/wiki/xacro">
	<xacro:include filename="$(find indy7_simulation)/urdf/indy7.xacro" />

    <link name="world"/>

    <!-- <joint name = "fixed" type = "fixed">
        <parent link = "world"/>
        <child link = "robot_base1"/>
        <origin xyz = "0 0 0" rpy = "0 0 0"/>
    </joint> -->

    <joint name = "fixed_base1" type = "fixed">
        <parent link = "world"/>
        <child link = "indy_base"/>
        <origin xyz = "0 0 0.05" rpy = "0 0 0"/>
    </joint>

    <gazebo>
        <plugin name="gazebo_ros_control" filename="libgazebo_ros_control.so">
            <!--<robotNamespace>/indy7</robotNamespace>-->
        </plugin>
    </gazebo>

    <transmission name="tran0">
        <type>transmission_interface/SimpleTransmission</type>
        <joint name = "joint0">
            <hardwareInterface>hardware_interface/PositionJointInterface</hardwareInterface>
        </joint>
        <actuator name="motor0">
            <hardwareInterface>hardware_interface/PositionJointInterface</hardwareInterface>
            <mechanicalReduction>1</mechanicalReduction>
        </actuator>
    </transmission>

    <transmission name="tran1">
        <type>transmission_interface/SimpleTransmission</type>
        <joint name = "joint1">
            <hardwareInterface>hardware_interface/PositionJointInterface</hardwareInterface>
        </joint>
        <actuator name="motor1">
            <hardwareInterface>hardware_interface/PositionJointInterface</hardwareInterface>
            <mechanicalReduction>1</mechanicalReduction>
        </actuator>
    </transmission>

    <transmission name="tran2">
        <type>transmission_interface/SimpleTransmission</type>
        <joint name = "joint2">
            <hardwareInterface>hardware_interface/PositionJointInterface</hardwareInterface>
        </joint>
        <actuator name="motor2">
            <hardwareInterface>hardware_interface/PositionJointInterface</hardwareInterface>
            <mechanicalReduction>1</mechanicalReduction>
        </actuator>
    </transmission>

    <transmission name="tran3">
        <type>transmission_interface/SimpleTransmission</type>
        <joint name = "joint3">
            <hardwareInterface>hardware_interface/PositionJointInterface</hardwareInterface>
        </joint>
        <actuator name="motor3">
            <hardwareInterface>hardware_interface/PositionJointInterface</hardwareInterface>
            <mechanicalReduction>1</mechanicalReduction>
        </actuator>
    </transmission>

    <transmission name="tran4">
        <type>transmission_interface/SimpleTransmission</type>
        <joint name = "joint4">
            <hardwareInterface>hardware_interface/PositionJointInterface</hardwareInterface>
        </joint>
        <actuator name="motor4">
            <hardwareInterface>hardware_interface/PositionJointInterface</hardwareInterface>
            <mechanicalReduction>1</mechanicalReduction>
        </actuator>
    </transmission> 
    <transmission name="tran5">
        <type>transmission_interface/SimpleTransmission</type>
        <joint name = "joint5">
            <hardwareInterface>hardware_interface/PositionJointInterface</hardwareInterface>
        </joint>
        <actuator name="motor5">
            <hardwareInterface>hardware_interface/PositionJointInterface</hardwareInterface>
            <mechanicalReduction>1</mechanicalReduction>
        </actuator>
    </transmission>

</robot>
