<?xml version="1.0" ?>
<robot name="indy" xmlns:xacro="http://ros.org/wiki/xacro">

  <xacro:include filename="$(find indy_description)/urdf/indy_macro.xacro"/>

  <xacro:arg name="prefix" 	    default=""/>
  <xacro:arg name="name" 		    default="indy"/>
  <xacro:arg name="indy_type"   default="indy7"/>
  <xacro:arg name="indy_eye" 	  default="false"/>
  <xacro:arg name="sim_gazebo"  default="false"/>

  <!-- parameters -->
  <xacro:arg name="joint_limit_params" default="$(find indy_description)/urdf/config/$(arg indy_type)/joint_limits.yaml"/>
  <xacro:arg name="kinematics_params" default="$(find indy_description)/urdf/config/$(arg indy_type)/kinematics.yaml"/>
  <xacro:arg name="physical_params" default="$(find indy_description)/urdf/config/$(arg indy_type)/physical_parameters.yaml"/>
  <xacro:arg name="visual_params" default="$(find indy_description)/urdf/config/$(arg indy_type)/visual_parameters.yaml"/>
  <xacro:arg name="joint_axes_params" default="$(find indy_description)/urdf/config/$(arg indy_type)/joint_axes.yaml"/>
  <xacro:arg name="transmission_hw_interface" default="hardware_interface/PositionJointInterface"/>

  <link name="world" />

	<xacro:indy_robot
    prefix="$(arg prefix)"
    name="$(arg name)"
    indy_type="$(arg indy_type)"
    indy_eye="$(arg indy_eye)"
    parent="world"
    joint_limits_parameters_file="$(arg joint_limit_params)"
    kinematics_parameters_file="$(arg kinematics_params)"
    physical_parameters_file="$(arg physical_params)"
    visual_parameters_file="$(arg visual_params)"
    joint_axes_parameters_file="$(arg joint_axes_params)"
    transmission_hw_interface="$(arg transmission_hw_interface)"
    >
    <origin xyz="0 0 0" rpy="0 0 0" /> <!-- position robot in the world -->
  </xacro:indy_robot>


  <xacro:if value="$(arg sim_gazebo)">
		<gazebo>
      <plugin name="gazebo_ros_control" filename="libgazebo_ros_control.so"></plugin>
		</gazebo>
	</xacro:if>

</robot>