<?xml version="1.0" ?>
<robot name="indy7" xmlns:xacro="http://ros.org/wiki/xacro">
  	<xacro:include filename="$(find indy7_description)/urdf/indy7.xacro"/>

	<link name="world"/>
    <joint name="global" type="fixed">
		<parent link="world"/>
		<child link="link0"/>
		<origin xyz="0 0 0.1" rpy="0 0 0"/>
	</joint>
</robot>